<div class="container">
  <h1 class="title is-3 has-text-centered">Regelsatz erstellen</h1>

  <form [formGroup]="ruleSetForm" (ngSubmit)="onSubmit()">

    <div class="field">
      <label for="name" class="label">Name:</label>
      <div class="control">
        <input formControlName="name" id="name" class="input" placeholder="Name">
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label for="basePrice" class="label">Basispreis:</label>
          <div class="control">
            <input type="number" formControlName="basePrice" id="basePrice" class="input" placeholder="Basispreis">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label for="soloPrice" class="label">Solopreis:</label>
          <div class="control">
            <input type="number" formControlName="soloPrice" id="soloPrice" class="input" placeholder="Solopreis">
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field"><label for="countLaufende" class="label">Laufende zählen:</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select formControlName="countLaufende" id="countLaufende">
                <option *ngFor="let countLaufende of allLaufendeCounts"
                        [ngValue]="countLaufende">{{countLaufende}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label for="laufendePrice" class="label">Preis Laufende:</label>
          <div class="control">
            <input type="number" formControlName="laufendePrice" id="laufendePrice" class="input"
                   placeholder="Preis Laufende">
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label for="minLaufendeIncl" class="label">Minimale Anzahl Laufende:</label>
          <div class="control">
            <input type="number" formControlName="minLaufendeIncl" id="minLaufendeIncl" class="input"
                   placeholder="Minimale Laufende">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label for="maxLaufendeIncl" class="label">Maximale Anzahl Laufende:</label>
          <div class="control">
            <input type="number" formControlName="maxLaufendeIncl" id="maxLaufendeIncl" class="input"
                   placeholder="Maximale Laufende">
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: fields for allowed game types! -->

    <div *ngIf="queryError" class="notification is-danger has-text-centered">
      {{queryError.message}}
    </div>

    <div *ngIf="createdRulesetName" class="notification is-success has-text-centered">
      Regelsatz {{createdRulesetName}} wurde erfolgreich erstellt.
    </div>

    <div class="field">
      <button type="submit" class="button is-link is-fullwidth" [class.is-loading]="loading" [disabled]="loading">
        Regelsatz erstellen
      </button>
    </div>

  </form>

</div>
