<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">
      <span [ngClass]="{'has-text-danger': this.submitted && !this.valid}">{{label}}</span>:
    </label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div class="select is-fullwidth">
          <select [(ngModel)]="theSelectedVal" [required]="required">
            <option [ngValue]="undefined">Bitte wählen</option>
            <option *ngFor="let option of options" [ngValue]="option.value">{{option.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
