<div class="container is-fluid">

  <ng-container *ngIf="group">
    <h1 class="title is-3 has-text-centered">Gruppe &quot;{{group.name}}&quot;: Spieler</h1>

    <div class="columns">
      <div class="column is-one-fifth-desktop">
        <div class="box">
          <skl-add-player-to-group [groupId]="group.id" [memberIds]="memberIds" (playerAdded)="onPlayerAdded($event)">
          </skl-add-player-to-group>
        </div>
      </div>

      <div class="column">

        <ng-container *ngIf="group.default_rule_set">
          <h2 class="subtitle is-3 has-text-centered">Standardregelsatz: {{group.default_rule_set.name}}</h2>
        </ng-container>

        <hr>

        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Mitglieder</p>
          </header>
          <div class="card-content">
            <div class="columns is-multiline" *ngIf="group.players.length > 0; else noPlayersFoundBlock">
              <div class="column is-one-quarter" *ngFor="let player of group.players">
                <div class="box is-fullwidth has-text-centered">{{player.name}}</div>
              </div>
            </div>

          </div>
        </div>

        <hr>

        <button class="button is-link is-fullwidth" routerLink="./newSession">Neue Sitzung starten</button>

      </div>
    </div>
  </ng-container>

</div>

<ng-template #noPlayersFoundBlock>
  <div class="notification is-danger has-text-centered">Keine Spieler in dieser Gruppe gefunden!</div>
</ng-template>
