<div class="container">

  <ng-container *ngIf="group">
    <h1 class="title is-3 has-text-centered">Gruppe &quot;{{group.name}}&quot;</h1>

    <hr>

    <div class="columns">
      <div class="column is-two-fifths-desktop" *ngIf="group.default_rule_set">

        <h2 class="subtitle is-3">Standardregeln</h2>
        <pre>{{group.default_rule_set | json}}</pre>
      </div>
      <div class="column">
        <ng-container *ngIf="group.players.length > 0; else noPlayersFoundBlock">
          <h2 class="subtitle is-3">Mitglieder</h2>

          <div class="columns is-multiline">
            <div class="column is-one-third" *ngFor="let player of group.players">
              <div class="button is-static is-fullwidth has-text-centered">{{player.abbreviation}} - {{player.name}}</div>
            </div>
            <div class="column is-one-third">
              <a class="button is-link is-fullwidth has-text-centered" routerLink="./players">+</a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <hr>

    <div class="buttons">
      <a class="button is-link is-fullwidth" routerLink="./newSession">Neue Sitzung starten</a>
    </div>
  </ng-container>

</div>

<ng-template #noPlayersFoundBlock>
  <div class="notification is-danger has-text-centered">Keine Spieler in dieser Gruppe gefunden!</div>
</ng-template>
