<div class="container">
  <h1 class="title is-3 has-text-centered">Gruppe {{groupName}}: Spieler</h1>

  <ng-container *ngIf="playersInGroupQuery; else loadingDataComponent">

    <div class="columns is-multiline" *ngIf="playersInGroupQuery.players; else noPlayersFoundBlock">

      <div class="column is-2" *ngFor="let player of playersInGroupQuery.players">
        <button class="button is-fullwidth" [class.is-link]="player.isMemberInGroup"
                (click)="toggleGroupMembership(player.abbreviation, !player.isMemberInGroup)">
          {{player.isMemberInGroup ? '&#10004;' : '&#10008;'}} {{player.name}}
        </button>
      </div>

    </div>

  </ng-container>

</div>

<ng-template #loadingDataComponent>
  <div class="notification is-primary has-text-centered">Lade Daten...</div>
</ng-template>

<ng-template #noPlayersFoundBlock>
  <div class="notification is-warning has-text-centered">Keine Spieler gefunden!</div>
</ng-template>
