<div class="container">

  <h1 class="title is-3 has-text-centered">Gruppen</h1>

  <ng-container *ngIf="groupListQuery; else loadingGroupsBlock">

    <div class="columns is-multiline" *ngIf="groupListQuery.groups.length > 0; else noGroupsFoundBlock">
      <div class="column is-one-quarter-desktop is-half" *ngFor="let group of groupListQuery.groups">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">{{group.name}}</p>
          </header>
          <div class="card-content">
            <p>{{(group.playerCount !== undefined) ? group.playerCount : '?'}} Spieler</p>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" [routerLink]="[group.id]">Zur Gruppe</a>
          </footer>
        </div>
      </div>
    </div>

  </ng-container>

  <hr>

  <div class="box">
    <skl-create-group (groupCreated)="onGroupCreated($event)"></skl-create-group>
  </div>

</div>

<ng-template #loadingGroupsBlock>
  <div class="notification is-primary has-text-centered">Lade Gruppen...</div>
</ng-template>

<ng-template #noGroupsFoundBlock>
  <div class="notification is-danger has-text-centered">Keine Gruppen gefunden!</div>
</ng-template>
