<div class="container">
  <h1 class="subtitle is-3 has-text-centered">Neuen Spieler anlegen</h1>

  <form [formGroup]="playerForm" (ngSubmit)="createPlayer()">

    <div class="field">
      <label for="nickname" class="label">Nickname:</label>
      <div class="control">
        <input type="text" id="nickname" formControlName="nickname" class="input" autofocus>
      </div>
    </div>

    <div class="field">
      <label for="firstName" class="label">Vorname:</label>
      <div class="control">
        <input type="text" id="firstName" formControlName="firstName" class="input">
      </div>
    </div>

    <div class="field">
      <label for="lastName" class="label">Nachname:</label>
      <div class="control">
        <input type="text" id="lastName" formControlName="lastName" class="input">
      </div>
    </div>


    <div *ngIf="queryError" class="notification is-danger has-text-centered">
      {{queryError.message}}
    </div>

    <div *ngIf="createdPlayerName" class="notification is-success has-text-centered">
      Spieler {{createdPlayerName}} wurde erstellt.
    </div>

    <div class="field">
      <button class="button is-link is-fullwidth" [class.is-loading]="loading" [disabled]="loading">
        Spieler anlegen
      </button>
    </div>

  </form>
</div>
