<div class="container">

  <h1 class="title is-3 has-text-centered">&quot;Schlaue Schafkopfliste&quot; hochladen</h1>

  <div class="file">
    <label class="file-label">
      <input type="file" class="file-input" name="xlsx-file" (change)="readFile($event.target.files)">
      <span class="file-cta">
        <span class="file-label">Datei auswählen...</span>
      </span>
    </label>
  </div>

  <hr>

  <div class="box" *ngIf="session">
    <pre>{{session | json}}</pre>
  </div>

  <div class="columns is-multiline" *ngIf="readGames">
    <div class="column is-4" *ngFor="let readGame of readGames">
      <pre>{{readGame | json}}</pre>
    </div>

  </div>

</div>
