<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th title="Nummer">#</th>
      <th>Geber</th>
      <th title="Gedoppelt">2x</th>
      <th>Leger</th>
      <th>Spiel</th>
      <th>Farbe</th>
      <th>Spieler</th>
      <th>Kontra</th>
      <th>Gewinner</th>
      <th>Laufende</th>
      <th title="Schneider / Schwarz">SN / SW</th>
      <th>Preis</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let playedGame of session.playedGames">
      <td>{{playedGame.id}}</td>
      <td><code>{{getDealer(playedGame).abbreviation}}</code></td>
      <td>{{playedGame.isDoubled ? '&#10004;' : ''}}</td>
      <td>{{playersHavingPut(playedGame)}}</td>
      <td>{{playedGame.gameType}}</td>
      <td>{{getSuitGermanName(playedGame)}}</td>
      <td>{{getActingPlayer(playedGame).abbreviation}}</td>
      <td>{{playersWithContra(playedGame)}}</td>
      <td>{{playersHavingWon(playedGame)}}</td>
      <td>{{playedGame.laufendeCount}}</td>
      <td>{{playedGame.schneiderSchwarz}}</td>
      <td>{{playedGame.price}}</td>
    </tr>
  </tbody>
</table>

