<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold" routerLink="/">SchafkopfListe</a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
       data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/groups">Gruppen</a>
      <a class="navbar-item" routerLink="/players">Spieler</a>
      <a class="navbar-item" routerLink="/ruleSets">Regelsätze</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-light" (click)="logout()" *ngIf="currentUser">Logout</button>
          <a class="button is-light" routerLink="/loginForm" *ngIf="!currentUser">Login</a>
        </div>
      </div>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>
