<div class="box">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let player of players">
          <span>{{player.name}}</span>
          &nbsp;
          <span class="icon" *ngIf="playerImages.get(player.id)">
            <img [src]="playerImages.get(player.id)" alt="{{player.abbreviation}}">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Saldo</th>
        <td *ngFor="let player of players"
            [ngClass]="sessionResults.get(player.id).saldo < 0 ? 'has-text-danger' : 'has-text-success'">
          {{sessionResults.get(player.id).saldo}}
        </td>
      </tr>
      <tr>
        <th>Gelegt</th>
        <td *ngFor="let player of players">{{sessionResults.get(player.id).putCount}}</td>
      </tr>
      <tr>
        <th>Gespielt</th>
        <td *ngFor="let player of players">{{sessionResults.get(player.id).playedGames}}</td>
      </tr>
      <tr>
        <th>Gewonnen</th>
        <td *ngFor="let player of players">{{sessionResults.get(player.id).wonGames}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="box">
  <div class="table-container">
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th title="Nummer">#</th>
          <th>Geber</th>
          <th title="Gedoppelt">2x</th>
          <th>Leger</th>
          <th>Spiel</th>
          <th>Farbe</th>
          <th>Spieler</th>
          <th>Kontra</th>
          <th>Gewinner</th>
          <th>Laufende</th>
          <th title="Schneider / Schwarz">SN / SW</th>
          <th>Preis</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playedGame of session.playedGames">
          <td>{{playedGame.game.id}}</td>
          <td>{{getDealer(playedGame.game).abbreviation}}</td>
          <td>{{playedGame.game.isDoubled ? '&#10004;' : ''}}</td>
          <td>
            <skl-player-abbreviations [players]="playersHavingPut(playedGame.game)"></skl-player-abbreviations>
          </td>
          <td>{{playedGame.game.gameType}}</td>
          <td>{{getSuitGermanName(playedGame.game)}}</td>
          <td>{{getActingPlayer(playedGame.game).abbreviation}}</td>
          <td>{{playedGame.game.kontra}}</td>
          <td>
            <skl-player-abbreviations [players]="playersHavingWon(playedGame.game)"></skl-player-abbreviations>
          </td>
          <td>{{playedGame.game.laufendeCount}}</td>
          <td>{{playedGame.game.schneiderSchwarz}}</td>
          <td>{{playedGame.price}}</td>
        </tr>
        <tr *ngIf="runningGame" class="is-selected">
          <td>{{runningGame.id}}</td>
          <td>{{getDealer(runningGame).abbreviation}}</td>
          <td>{{runningGame.isDoubled ? '&#10004;' : ''}}</td>
          <td>
            <skl-player-abbreviations [players]="playersHavingPut(runningGame)"></skl-player-abbreviations>
          </td>
          <td>{{runningGame.gameType}}</td>
          <td>{{getSuitGermanName(runningGame)}}</td>
          <td>{{currentActingPlayer ? currentActingPlayer.abbreviation : ''}}</td>
          <td>{{runningGame.kontra}}</td>
          <td>
            <skl-player-abbreviations [players]="playersHavingWon(runningGame)"></skl-player-abbreviations>
          </td>
          <td>{{runningGame.laufendeCount}}</td>
          <td>{{runningGame.schneiderSchwarz}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
