<div class="box">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let player of players">
          <span>{{player.nickname}}</span>
          &nbsp;
          <span class="icon" *ngIf="player.pictureName">
            <img src="assets/{{player.pictureName}}" alt="">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Saldo</th>
        <td *ngFor="let player of players"
            [ngClass]="sessionResults.get(player.nickname).saldo < 0 ? 'has-text-danger' : 'has-text-success'">
          {{sessionResults.get(player.nickname).saldo}}
        </td>
      </tr>
      <tr>
        <th># Leger / Spiele / Gewonnen</th>
        <td *ngFor="let player of players">
          {{sessionResults.get(player.nickname).putCount}}
          /
          {{sessionResults.get(player.nickname).playedGames}}
          /
          {{sessionResults.get(player.nickname).wonGames}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="box">
  <div class="table-container">
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th title="Nummer">#</th>
          <th>Geber</th>
          <th title="Gedoppelt">2x</th>
          <th>Leger</th>
          <th>Spiel</th>
          <th>Farbe</th>
          <th>Spieler</th>
          <th>Kontra</th>
          <th>Gewinner</th>
          <th>Laufende</th>
          <th title="Schneider / Schwarz">SN / SW</th>
          <th>Preis</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playedGame of games">
          <td>{{playedGame.id}}</td>
          <td>{{getDealer(playedGame.id).nickname}}</td>
          <td>{{playedGame.isDoubled ? '&#10004;' : ''}}</td>
          <td>
            <skl-player-abbreviations
              [players]="playersHavingPut(playedGame.playersHavingPutNicknames)"></skl-player-abbreviations>
          </td>
          <td>{{playedGame.gameType}}</td>
          <td>{{getSuitGermanName(playedGame.suit)}}</td>
          <td>{{getActingPlayer(playedGame).nickname}}</td>
          <td>{{playedGame.kontra}}</td>
          <td>
            <skl-player-abbreviations
              [players]="playersHavingWon(playedGame.playersHavingWonNicknames)"></skl-player-abbreviations>
          </td>
          <td>{{playedGame.laufendeCount}}</td>
          <td>{{playedGame.schneiderSchwarz}}</td>
          <td>{{playedGame.price}}</td>
        </tr>
        <tr *ngIf="runningGame" class="is-selected">
          <td></td>
          <td>{{getDealer(nextGameId()).nickname}}</td>
          <td>{{runningGame.isDoubled ? '&#10004;' : ''}}</td>
          <td>
            <skl-player-abbreviations
              [players]="playersHavingPut(runningGame.playersHavingPutNicknames)"></skl-player-abbreviations>
          </td>
          <td>{{runningGame.gameType}}</td>
          <td>{{getSuitGermanName(runningGame.suit)}}</td>
          <td>{{currentActingPlayer ? currentActingPlayer.nickname : ''}}</td>
          <td>{{runningGame.kontra}}</td>
          <td>
            <skl-player-abbreviations
              [players]="playersHavingWon(runningGame.playersHavingWonNicknames)"></skl-player-abbreviations>
          </td>
          <td>{{runningGame.laufendeCount}}</td>
          <td>{{runningGame.schneiderSchwarz}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
