<div class="container">
  <h1 class="title is-3 has-text-centered">Neuen Account registrieren</h1>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="field">
      <label class="label" for="username">Nutzername:</label>
      <div class="control">
        <input type="text" id="username" formControlName="username" class="input" placeholder="Nutzername" autofocus>
      </div>
    </div>

    <div class="field">
      <label for="password" class="label">Passwort:</label>
      <div class="control">
        <input type="password" id="password" formControlName="password" class="input" placeholder="Passwort">
      </div>
    </div>

    <div class="field">
      <label for="passwordRepeat" class="label">Passwort wiederholen:</label>
      <div class="control">
        <input type="password" id="passwordRepeat" formControlName="passwordRepeat" class="input"
               placeholder="Passwort wiederholen">
      </div>
    </div>

    <div class="buttons">
      <button class="button is-link is-fullwidth" [class.is-loading]="loading">Registrieren</button>
    </div>
  </form>

  <div class="notification is-danger has-text-centered my-3" *ngIf="queryError">
    Es gab einen Fehler: {{queryError.message}}
  </div>

  <div class="notification is-success has-text-centered my-3" *ngIf="registeredUsername">
    Nutzer {{registeredUsername}} wurde erfolgreich registriert.
  </div>


</div>
