<div class="container">

  <h1 class="title is-3 has-text-centered">Neue Gruppe anlegen</h1>

  <form (ngSubmit)="createGroup()" [formGroup]="groupForm">

    <div class="field">
      <label for="name">Gruppenname:</label>
      <div class="control">
        <input type="text" id="name" formControlName="name" class="input" autofocus>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <a class="button is-primary is-fullwidth" routerLink="..">Zurück zur Gruppenübersicht</a>
      </div>
      <div class="column">
        <button class="button is-link is-fullwidth">Gruppe anlegen</button>
      </div>
    </div>

  </form>

  <ng-container *ngIf="createdGroup">
    <hr>

    <div class="notification is-success">
      <button class="delete" (click)="createdGroup = undefined"></button>
      Gruppe {{createdGroup.name}} wurde erstellt.
    </div>
  </ng-container>

</div>
